<ion-header>
    <ion-backdrop style="opacity:0.35;" class="show-backdrop" (click)="toggleMode(false)"
                  *ngIf="inputMode"></ion-backdrop>

    <ion-navbar>
        <ion-title (click)="editMode?showInput(recipe.name,'name',2):false">
            {{recipe.name || ('NEW_RECIPE' | translate)}}
        </ion-title>
        <ion-buttons end>
            <button *ngIf="editMode" ion-button icon-only (click)="presentPopover($event)">
                <ion-icon name="more"></ion-icon>
            </button>
            <ion-toggle *ngIf="!editMode" (ionChange)="toggleLock($event)"></ion-toggle>
        </ion-buttons>

    </ion-navbar>
    <ion-card class="no-padding">
        <div class="fill" [@resizeImg]='imgState' (@resizeImg.done)="content.resize()"
             (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')"
             [style.background-image]="getBackground(recipe.imageUrl)">
            <ion-grid class="bottom-of-div">
                <ion-row>
                    <ion-col col-5>

                    </ion-col>

                    <ion-col col-4 (click)="editMode?showInput(recipe.duration,'duration',2):false">
                        <ion-icon name='time'></ion-icon>
                        <span class="label">{{recipe.duration==null?'--':(recipe.duration|time)}}</span>
                    </ion-col>
                    <ion-col col-2 (click)="editMode?showInput(recipe.servings,'servings',2):false">
                        <span class="label">{{recipe.servings==null?'--':recipe.servings}}</span>
                        <ion-icon name='people'></ion-icon>
                    </ion-col>
                    <ion-col col-1>

                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

    </ion-card>
    <ion-fab bottom left edge *ngIf="!inputMode">
        <button ion-fab mini [disabled]="(editMode)?!canSave():false" (click)="editMode?save():edit()">
            <ion-icon [name]="editMode?'checkmark':'create'"></ion-icon>
        </button>
    </ion-fab>
</ion-header>
<ion-backdrop style="opacity:0.35;" class="show-backdrop" (click)="toggleMode(false)" *ngIf="inputMode"></ion-backdrop>
<ion-content>
    <ion-grid class="padding-15px" *ngIf="!inputMode">

        <ion-row>
            <ion-col col-12>
                <div [ngSwitch]="recipeContent">
                    <ion-list *ngSwitchCase="'ingredients'">
                        <ion-item-group>
                            <ion-item-sliding *ngFor="let ingredient of recipe.ingredients">

                                <ion-item>
                                    <ion-icon name='basket' item-start></ion-icon>
                                    <span style="font-weight: bold">{{(ingredient.quantity!=null? ingredient.quantity + ' ':'') +
                                        (ingredient.unit!=null? ingredient.unit + ' ':'')}}</span>{{ingredient.name}}
                                    <ion-note item-end
                                              (click)="editMode?showInput(ingredient,'ingredients_notes',2):false">
                                        {{ingredient.notes || ("NO_NOTES" | translate)}}
                                    </ion-note>
                                </ion-item>
                                <ion-item-options side="right">
                                    <button [disabled]="!editMode" ion-button color="danger"
                                            (click)="delete(ingredient,'ingredients')">
                                        <ion-icon name="trash"></ion-icon>
                                        {{"DELETE" | translate}}
                                    </button>
                                    <button [disabled]="!editMode" ion-button color="secondary"
                                            (click)="showInput(ingredient,'ingredients',2)">
                                        <ion-icon name="create"></ion-icon>
                                        {{"EDIT" | translate}}
                                    </button>
                                </ion-item-options>
                            </ion-item-sliding>
                        </ion-item-group>
                    </ion-list>
                    <ion-list *ngSwitchCase="'instructions'">
                        <ion-item-group>
                            <ion-item-sliding *ngFor="let instruction of recipe.instructions; let i = index">
                                <ion-item>
                                    <ion-checkbox #checkBox class="checkbox-top" color="dark"
                                                  checked="false"></ion-checkbox>
                                    <ion-label [style.color]="checkBox.checked?'lightgray':''"
                                               style="white-space: pre-line">{{instruction}}
                                    </ion-label>
                                </ion-item>
                                <ion-item-options *ngIf="editMode" side="right">
                                    <button ion-button color="danger"
                                            (click)="delete(instruction,'instructions')">
                                        <ion-icon name="trash"></ion-icon>
                                        {{"DELETE" | translate}}
                                    </button>
                                    <button ion-button color="secondary"
                                            (click)="showInput([instruction,i],'instructions',2)">
                                        <ion-icon name="create"></ion-icon>
                                        {{"EDIT" | translate}}
                                    </button>
                                </ion-item-options>
                            </ion-item-sliding>
                        </ion-item-group>
                    </ion-list>
                    <span *ngSwitchCase="'notes'">
                        {{recipe.notes||''}}
                    </span>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-fab right bottom *ngIf="recipeContent=='instructions' && editMode && !inputMode && imgState!='expand'">
        <button mini ion-fab (click)="showInput(['',-1],'instructions',1)">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
    <ion-fab right bottom *ngIf="recipeContent=='ingredients' && editMode && !inputMode && imgState!='expand'">
        <button mini ion-fab (click)="showInput([[]],'ingredients',1)">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
    <ion-fab right bottom *ngIf="recipeContent=='notes' && editMode && !inputMode && imgState!='expand'">
        <button mini ion-fab (click)="showInput(recipe.notes,'notes',1)">
            <ion-icon name="create"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
<ion-footer>
    <div padding *ngIf="!inputMode && imgState!='expand'">
        <ion-segment [(ngModel)]="recipeContent">
            <ion-segment-button value="ingredients">
                {{'INGREDIENTS' | translate}}
            </ion-segment-button>
            <ion-segment-button value="instructions">
                {{'INSTRUCIONS' | translate}}
            </ion-segment-button>
            <ion-segment-button value="notes">
                {{'NOTES' | translate}}
            </ion-segment-button>
        </ion-segment>
    </div>
    <form [formGroup]="recipeForm" *ngIf="editMode && inputMode" (ngSubmit)="apply(inputRef, recipeForm.value)">
        <ion-toolbar *ngIf="editMode && inputMode">
            <ion-input *ngIf="inputRef=='name'" formControlName="name" class="text-white capitalize"
                       autofocus></ion-input>
            <ion-input *ngIf="inputRef=='ingredients_notes'" formControlName="notes" class="text-white"
                       autofocus></ion-input>
            <ion-input *ngIf="inputRef=='duration'" type="number" formControlName="duration" class="text-white"
                       select-text autofocus></ion-input>
            <ion-input *ngIf="inputRef=='servings'" type="number" formControlName="servings" class="text-white"
                       select-text autofocus></ion-input>
            <ion-grid *ngIf="inputRef=='ingredients'">
                <ion-row>
                    <ion-col col-2>
                        <ion-input type="number" placeholder="__" formControlName="quantity"
                                   class="text-white"></ion-input>
                    </ion-col>
                    <ion-col col-2>
                        <ion-input placeholder="__" formControlName="unit" class="text-white lowercase"></ion-input>
                    </ion-col>
                    <ion-col col-8>
                        <ion-input required placeholder="_______" formControlName="name"
                                   (textInput)="filterIngredient($event)" class="text-white capitalize"
                                   autofocus></ion-input>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid *ngIf="inputRef=='instructions'">
                <ion-row>
                    <ion-col col-12>
                        <ion-textarea required formControlName="description" class="text-white"
                                      autofocus></ion-textarea>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid *ngIf="inputRef=='notes'">
                <ion-row>
                    <ion-col col-12>
                        <ion-textarea required formControlName="notes" class="text-white" autofocus></ion-textarea>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-buttons end>
                <button type="submit" [disabled]="!recipeForm.valid" ion-button>
                    <ion-icon name="checkmark"></ion-icon>
                </button>
            </ion-buttons>
        </ion-toolbar>
    </form>

</ion-footer>