page-recipe-management {
    .fill {
        width: 100%;
        height: 0px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .rectangle {
        width: 100%;
        height: 0px;
        padding-bottom: 20%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .square {
        width: 100%;
        height: 0px;
        padding-bottom: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .no-padding {
        margin: 0px;
        margin-bottom: 5px;
        width: calc(100%);
    }
    .text-white {
        color: white;
    }
    .label {
        padding-left: 2px;
        top: -1px;
        position: relative;
    }
    .img-details {
        position: absolute;
        top: 90%;
        left: calc(100% - 50px);
        width: 100%;
        background-color: white;
        border-radius: 25px;
        opacity: 0.8;
    }
    .no-padding {
        margin: 0px;
        width: calc(100%);
    }
    .slide-zoom {
        height: 100%;
    }
    ion-item-sliding ion-item {
        padding-left: 0px !important;
    }
    .weight-info {
        font-weight: bold;
        text-align: right;
    }
    .label {
        margin: 0px;
    }
}