<ion-header>
    <ion-backdrop style="opacity:0.35;" class="show-backdrop" (click)="toggleMode(false)" *ngIf="inputMode"></ion-backdrop>

    <ion-navbar>
        <ion-title (click)="editMode?showInput(true, 'name'):false">{{recipe.name || ('NEW_RECIPE' | translate)}}</ion-title>
        <ion-buttons end *ngIf="editMode">

            <button ion-button icon-only (click)="presentPopover($event)">
                        <ion-icon name="more"></ion-icon>
                      </button>

        </ion-buttons>
    </ion-navbar>
    <ion-card class="no-padding">
        <div class="fill" [@resizeImg]='imgState' (@resizeImg.done)="content.resize()" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')" [style.background-image]="getBackground(recipe.imageUrl)">
        </div>
    </ion-card>
    <ion-fab bottom left edge>
        <button ion-fab mini (click)="saveOrEdit()"><ion-icon [name]="editMode?'checkmark':'create'"></ion-icon></button>
    </ion-fab>
</ion-header>
<ion-backdrop style="opacity:0.35;" class="show-backdrop" (click)="toggleMode(false)" *ngIf="inputMode"></ion-backdrop>
<ion-content>
    <ion-grid *ngIf="!inputMode">
        <ion-row>
            <ion-col col-5>

            </ion-col>

            <ion-col col-4>
                <ion-icon name='time'></ion-icon>
                <span class="label" (click)="editMode?showInput(true, 'duration'):false">{{recipe.duration==null?'--':(recipe.duration|time)}}</span>
            </ion-col>
            <ion-col col-3>
                <span class="label" (click)="editMode?showInput(true, 'servings'):false">{{recipe.servings==null?'--':recipe.servings}}</span>
                <ion-icon name='people'></ion-icon>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12>
                <div [ngSwitch]="recipeContent">
                    <ion-list *ngSwitchCase="'ingredients'">
                        <ion-item-group>
                            <ion-item-sliding *ngFor="let ingredient of recipe.ingredients">
                                <ion-item>
                                    <ion-grid>
                                        <ion-row>
                                            <ion-col col-2>
                                                {{ingredient.quantity}}
                                            </ion-col>
                                            <ion-col col-3>
                                                {{ingredient.unit}}
                                            </ion-col>
                                            <ion-col col-7>
                                                {{ingredient.name}}
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </ion-item>
                                <ion-item-options *ngIf="editMode" side="left">
                                    <button ion-button color="secondary" (click)="edit(ingredient,'ingredients')">
                                            <ion-icon name="create"></ion-icon>
                                            
                                          </button>
                                </ion-item-options>
                                <ion-item-options *ngIf="editMode" side="right">
                                    <button ion-button color="danger" (click)="delete(ingredient,'ingredients')">
                                            <ion-icon name="trash"></ion-icon>
                                            
                                          </button>
                                </ion-item-options>
                            </ion-item-sliding>
                        </ion-item-group>
                    </ion-list>
                    <ion-list *ngSwitchCase="'instructions'">
                        <ion-item-group>
                            <ion-item-sliding *ngFor="let instruction of recipe.instructions">
                                <ion-item>
                                    <span style="float:left">{{instruction.orderNb}}</span>
                                    <span style="white-space: pre-line">{{instruction.description}}</span>
                                </ion-item>
                                <ion-item-options side="left">
                                    <button ion-button color="secondary" (click)="edit(instruction,'instructions')">
                                                <ion-icon name="create"></ion-icon>
                                                
                                              </button>
                                </ion-item-options>
                                <ion-item-options side="right">
                                    <button ion-button color="danger" (click)="delete(instruction,'instructions')">
                                                <ion-icon name="trash"></ion-icon>
                                                
                                              </button>
                                </ion-item-options>
                            </ion-item-sliding>
                        </ion-item-group>
                    </ion-list>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-fab right bottom *ngIf="recipeContent=='instructions' && editMode && !inputMode">
        <button mini ion-fab (click)="add('instructions')"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
    <ion-fab right bottom *ngIf="recipeContent=='ingredients' && editMode && !inputMode">
        <button mini ion-fab (click)="add('ingredients')"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>
<ion-footer>
    <div padding *ngIf="!inputMode && imgState!='expand'">
        <ion-segment [(ngModel)]="recipeContent">
            <ion-segment-button value="ingredients">
                {{'INGREDIENTS' | translate}}
            </ion-segment-button>
            <ion-segment-button value="instructions">
                {{'INSTRUCIONS' | translate}}
            </ion-segment-button>
        </ion-segment>
    </div>
    <ion-toolbar *ngIf="editMode && inputMode">
        <ion-input *ngIf="inputRef=='name'" [(ngModel)]="tempRecipe.name" class="text-white" autofocus></ion-input>
        <ion-input *ngIf="inputRef=='duration'" type="number" [(ngModel)]="tempRecipe.duration" class="text-white" autofocus></ion-input>
        <ion-input *ngIf="inputRef=='servings'" type="number" [(ngModel)]="tempRecipe.servings" class="text-white" autofocus></ion-input>
        <ion-grid *ngIf="inputRef=='ingredients'">
            <ion-row>
                <ion-col col-2>
                    <ion-input type="number" placeholder="__" [(ngModel)]="selectedIngredient.quantity" class="text-white" autofocus></ion-input>
                </ion-col>
                <ion-col col-2>
                    <ion-input placeholder="__" [(ngModel)]="selectedIngredient.unit" class="text-white"></ion-input>
                </ion-col>
                <ion-col col-8>
                    <ion-input placeholder="_______" [(ngModel)]="selectedIngredient.name" class="text-white"></ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid *ngIf="inputRef=='instructions'">
            <ion-row>
                <ion-col col-12>
                    <ion-textarea [(ngModel)]="selectedInstruction.description" class="text-white" autofocus></ion-textarea>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-buttons end>
            <button ion-button (click)="apply(inputRef)">
                    <ion-icon name="checkmark"></ion-icon>
                  </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>