<ion-card>
    <img src="assets/imgs/falafel.jpg" />
    <ion-card-content (click)="showDetails($event)">
        <ion-card-title>
            Falafel with Tahini
        </ion-card-title>
        <p>
            The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
        </p>
        <ion-badge color="primary">
            Vegetarian</ion-badge>
        <ion-badge color="primary">Chickpees</ion-badge>
    </ion-card-content>
    <ion-row no-padding>
        <ion-col>
            <button ion-button clear small color="info" icon-start>
                              <ion-icon name="heart-outline"></ion-icon>
                              {{'FAVOURITE' | translate}}
        </button>
        </ion-col>

        <ion-col text-right>
            <button ion-button clear small color="info" icon-start>
                              <ion-icon name='share-alt'></ion-icon>
                              {{'SHARE' | translate}}
        </button>
        </ion-col>
    </ion-row>
</ion-card>