<ion-card class="no-padding">
    <div class="square" (click)="showDetailedRecipe()" [style.background-image]="getBackground(entity.imageUrl)">
    </div>
    <div class="card-fav">
        <button (click)="toggleFavourite()" ion-button clear color="info" icon-start>
                    <ion-icon name="{{entity.favourite==true?'heart':'heart-outline'}}"></ion-icon>
</button>
    </div>
    <div class="card-footer">
        <h2 class="text-bold">Lebanese Falafel</h2>
        <button class="align-right" ion-button clear color="info" icon-start>
            <ion-icon name='share-alt'></ion-icon>
            {{'SHARE' | translate}}
</button>
        <div class="align-left">
            <ion-icon name='time'></ion-icon>
            <span style="top: -2px;position: relative;font-size: smaller">{{entity.duration | time}}</span>
        </div>
    </div>
</ion-card>