<ion-card>
    <img (click)="showDetailedRecipe()" [src]="entity.imageUrl" />
    <div class="card-fav">
        <button (click)="toggleFavourite()" ion-button clear color="info" icon-start>
                    <ion-icon name="{{entity.favourite==true?'heart':'heart-outline'}}"></ion-icon>
</button>
    </div>
    <div class="card-footer">
        <div>Lebanese Falafel</div>
        <button class="align-right" ion-button clear color="info" icon-start>
            <ion-icon name='share-alt'></ion-icon>
            {{'SHARE' | translate}}
</button>
        <div class="align-left" style="margin: 15px;">
            <ion-icon name='time'></ion-icon>
            <span style="top: -2px;position: relative;font-size: smaller">{{formatTime(entity.duration)}}</span>
        </div>
    </div>
</ion-card>