recipe-preview {
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }
  .fav-spinner {
    left: 11px;
    top: 6px;
  }
  ion-card {
    position: relative;
  }
  .no-padding {
    margin: 0px;
    margin-bottom: 5px;
    width: calc(100%);
  }
  .card-fav {
    position: absolute;
    top: 10px;
    left: calc(100% - 50px);
    width: 100%;
    height: 44px;
    background-color: white;
    border-radius: 25px;
    opacity: 0.8;
  }
  .square {
    width: 100%;
    height: 0px;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .card-footer {
    background-image: url("../assets/imgs/background.png");
    background-repeat: repeat-x;
    position: absolute;
    top: calc(100% - 75px);
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
  }
  .text-bold {
    font-weight: bold;
  }
  .align-left {
    float: left;
  }
  .align-right {
    float: right;
    top: -20px;
  }
  .delete-box {
    z-index: 2;
    position: absolute;
    top: calc(100% - 124px);
    width: 100%;
    padding-top: 5px;
    padding-left: 5px;
    background-color: #d32a08;
    color: white;
  }
}