recipe {
    .rectangle {
        width: 100%;
        height: 0px;
        padding-bottom: 20%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .square {
        width: 100%;
        height: 0px;
        padding-bottom: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .no-padding {
        margin: 0px;
        margin-bottom: 5px;
        width: calc(100%);
    }
}