<ion-header>
    <ion-navbar>
        <button *ngIf="!showSearchbar" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title *ngIf="!showSearchbar">{{'APP_TITLE' | translate}}</ion-title>
        <ion-buttons end *ngIf="!showSearchbar">
            <button ion-button (click)="toggleSearchbar()">
        <ion-icon name="search"></ion-icon>
      </button>
        </ion-buttons>
        <ion-searchbar *ngIf="showSearchbar" focuser showCancelButton="true" (ionCancel)="toggleSearchbar()" debounce="500" (ionInput)="findRecipes($event)" placeholder="{{'SEARCH' | translate}}"></ion-searchbar>
    </ion-navbar>

</ion-header>
<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list *ngIf="showSearchbar">
        <ion-item (click)="showRecipe($event)" *ngFor="let foundRecipe of foundRecipes">
            <ion-thumbnail item-start>
                <img src="assets/img/falafel.jpg">
            </ion-thumbnail>
            <h2>{{foundRecipe}}</h2>
            <p>Hayao Miyazaki • 1988</p>
        </ion-item>
    </ion-list>

    <div card-group *ngIf="!showSearchbar">
        <ng-template ngFor let-item [ngForOf]="items" let-currentElementIndex="index+1">
            <recipe-preview [entity]=""></recipe-preview>
        </ng-template>
        <ion-infinite-scroll (ionInfinite)="poll($event)">
            <ion-infinite-scroll-content>
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
    <ion-fab right bottom *ngIf="!showSearchbar">
        <button (click)="newRecipe()" ion-fab><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>