<ion-header>
    <ion-navbar>
        <button *ngIf="!showSearchbar" ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title *ngIf="!showSearchbar">{{queryParam?('FAVOURITE' | translate):('APP_TITLE' | translate)}}</ion-title>
        <ion-buttons end *ngIf="!showSearchbar && error == null">
            <button ion-button (click)="toggleSearchbar($event)">
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>
        <ion-searchbar *ngIf="showSearchbar" showCancelButton="true" (ionCancel)="toggleSearchbar()" debounce="500"
                       (search)="findRecipes($event)" placeholder="{{'SEARCH' | translate}}" focuser></ion-searchbar>
    </ion-navbar>

</ion-header>
<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div card-group>
        <div style="text-align: center;padding-top: 10%;width: 100%" *ngIf="error != null && error.type==2">
            <img src="assets/imgs/no_conn.png" style="width: 50px; height: 50px">
            <br>{{"NO_CONNECTION" | translate}}
        </div>
        <recipe-preview (onClick)="onClick($event)" (onFavToggle)="favouriteToggle($event)"
                        (onDeleted)="onDelete($event)" *ngFor="let recipe of foundRecipes"
                        [entity]="recipe"></recipe-preview>
        <ion-infinite-scroll (ionInfinite)="poll($event)" [enabled]="scrollEnabled">
            <ion-infinite-scroll-content>
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
    <ion-fab right bottom *ngIf="!showSearchbar && error == null">
        <button (click)="newRecipe()" ion-fab>
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>