page-home {
    .center {
        text-align: center;
    }
    ion-list {
        padding: 3px;
    }
    .fadein {
        animation: fadein 0.2s;
        @keyframes fadein {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    }
}