<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>{{'APP_TITLE' | translate}}</ion-title>
        <ion-buttons end>
            <button ion-button (click)="toggleSearchbar()">
        <ion-icon name="search" *ngIf="!showSearchbar"></ion-icon>
        <ion-icon name="close-circle" *ngIf="showSearchbar"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar *ngIf="showSearchbar">
        <ion-searchbar (ionInput)="findRecipes($event)" placeholder="{{'SEARCH' | translate}}"></ion-searchbar>
        <ion-list>
            <ion-item (click)="showRecipe($event)" *ngFor="let foundRecipe of foundRecipes">
                <ion-thumbnail item-start>
                    <img src="assets/imgs/falafel.jpg">
                </ion-thumbnail>
                <h2>{{foundRecipe}}</h2>
                <p>Hayao Miyazaki • 1988</p>
            </ion-item>
        </ion-list>
    </ion-toolbar>
</ion-header>

<ion-content padding (tap)="tapEvent($event)">
    <div card-group>
        <ng-template ngFor let-item [ngForOf]="createRange(50)" let-currentElementIndex="index+1">
            <recipe [entity]=""></recipe>
        </ng-template>
    </div>
    <ion-fab right bottom>
        <button ion-fab><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>