<!-- Generated template for the IngredientsTabComponent component -->
<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <div class="rectangle" [style.background-image]="getBackground(entity.imageUrl)"></div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-7>
                <ion-input type="text" placeholder="ingredient"></ion-input>
            </ion-col>
            <ion-col col-2>
                <ion-input type="text" placeholder="qty"></ion-input>
            </ion-col>
            <ion-col col-3>
                <ion-input type="text" placeholder="unit"></ion-input>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>