<!-- Generated template for the IngredientsTabComponent component -->
<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <ion-img #img width="100%" style="display: table-row" src="{{entity.imageUrl || 'assets/imgs/falafel.jpg'}}"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <ion-input required type="text" [(ngModel)]="entity.name" placeholder="name"></ion-input>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12>
                <ion-textarea required [(ngModel)]="entity.description" placeholder="description"></ion-textarea>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>